{% extends "layout.html" %}
{% block content %}

<h3>About Us</h3>
<div style="margin-left:10%; border:wave black 4px; padding-left:30px;
padding-right:30px;padding-top:100px; padding-bottom:100px; width:700px;
background-color:#D5D0B1;"> 
      <p>Welcome to our website, a collection of beautiful, bizarre and
      unique rings. This website hosts ring collections from high end designers
      such as Pamela Love, Mania Mania, Blood Milk Jewels etc. It is a portal
      for ring lovers who want to discover one of a kind pieces, so if you are
      one of 'those' people, we hope you'll enjoy your stay. We also give our
      visitors the ability to log in to our services as super users and upload
      their own personal photos where they are wearing pieces of our public
      collections or other unique findings that they want to share with people
      of similar tastes.</p>
      <p>Visitors can become super users as long as they meet our requirements.
      To be granted the role of the 'super-user' you need to submit a
      coprehensive review or our website and help us improve. All you need to
      do is to navigate to our 'Contact Us' page, fill in the form with your
      contact details and submit your reviews in the appropriate section. Once
      you submit it, we will review your request and if we decide that you are
      a true ring lover we will sent you an email with your private login
      details within 2 days of your submitted request.</p>
</div>


{% endblock %}
