
{% extends "layout.html" %}
{% block content %}
    <!-- Page Content -->
  <h3>Blood Milk Jewels</h3>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                            filename='collection-pieces/bloodmilkjewels9.jpg')}}"
                            alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Labradorite Ring</a>
                                </h4>
                                <p>Belongings to the Underworld ring in Silver
                                Sterling and Labradorite.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                            filename='collection-pieces/bloodmilkjewels5.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Moonstone Ring</a>
                                </h4>
                                <p>Belongings to the Underworld ring in
                                Sterling Silver and Moonstone..</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">12 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                           filename='collection-pieces/bloodmilkjewels3.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Obsidian Tomb Ring</a>
                                </h4>
                                <p>Large moonstone tomb ring.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">31 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    </br>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                                    filename='collection-pieces/bloodmilkjewels6.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">In the Underworld</a>
                                </h4>
                                <p>Nesting in the Underwolrd collection. Cast Crystal
                                and hummingbird skull ring.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">6 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
i                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                              filename='collection-pieces/bloodmilkjewels1.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Obsidian Tomb Ring</a>
                                </h4>
                                <p>Crystal Obsidian Tomb Ring.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                              filename='collection-pieces/bloodmilkjewels8.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Easeful Death</a>
                                </h4>
                                <p>Large Labradorite Coffin ring.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                              filename='collection-pieces/bloodmilkjewels7.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Sparrow Skull Ring</a>
                                </h4>
                                <p>Homeward bound. Sparrow skull ring in
                                sterling silver.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                  
                  <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                              filename='collection-pieces/bloodmilkjewels4.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Easeful Death Ring</a>
                                </h4>
                                <p>Large Onyx Easeful Death ring in sterling
                                silver.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
              
                  <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                              filename='collection-pieces/bloodmilkjewels2.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Underworld Stack Ring</a>
                                </h4>
                                <p>Belongings to the Underworld stack ring in
                                sterling silver with sparrow claws and small
                                rose cut moonstones.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


    <!-- /.container -->
{% endblock %}}
