{% extends "layout.html" %}
{% block content %}
    <!-- Page Content -->
  <h3>Eilisain Jewelry</h3>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                            filename='collection-pieces/EilisainJewelry1.jpg')}}"
                            alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Crow Claw ring</a>
                                </h4>
                                <p>Hunted Crow Claw ring in sterling silver</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                            filename='collection-pieces/EilisainJewelry2.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Erebus Ring</a>
                                </h4>
                                <p>Bast single spine ring in sterling silver.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">12 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                           filename='collection-pieces/EilisainJewelry3.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Owl Talon Ring</a>
                                </h4>
                                <p>Owl Talon Ring in sterling silver</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">31 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    </br>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                                    filename='collection-pieces/EilisainJewelry4.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Triple Crow Claw</a>
                                </h4>
                                <p>The Hunted Triple Claw ring in sterling
                                silver</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">6 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                              filename='collection-pieces/EilisainJewelry5.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Triple Crow Claw Ring</a>
                                </h4>
                                <p>The Hunted triple Crow Talon claw ring in
                                golde plated bronze with rough aquamarine
                                stone.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                              filename='collection-pieces/EilisainJewelry6.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Asteria Ring</a>
                                </h4>
                                <p>Sterling Silver and Moonstone Asteria ring.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                              filename='collection-pieces/EilisainJewelry7.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Black Abyss Ring</a>
                                </h4>
                              <p>Sterling silver and black tourmaline Abyss
                              ring</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                  
                  <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                            filename='collection-pieces/EilisainJewelry8.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Triple Crow Claw Ring</a>
                                </h4>
                              <p>The Hunted Triple Crow Claw Ring in sterling
                              silver with black tourmaline.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
              
                  <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                              filename='collection-pieces/EilisainJewelry9.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Resurrection Ring</a>
                                </h4>
                                <p>Bronze Beetle Resurrection ring with pink
                                quartz.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


    <!-- /.container -->
{% endblock %}}
