
{% extends "layout.html" %}
{% block content %}
    <!-- Page Content -->
   <h3>Mania Mania</h3> 

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                            filename='collection-pieces/mania-mania1.jpg')}}"
                            alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Purple Immortal Ring</a>
                                </h4>
                                <p>Purple Immortal Ring in Amethyst set in
                                sterling silver.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                            filename='collection-pieces/mania-mania3.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Spirit Ring</a>
                                </h4>
                                <p>Double Stack Smokey-Quartz Spirit ring.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">12 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                           filename='collection-pieces/mania-mania4.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Moon Cocktail Ring</a>
                                </h4>
                                <p>Silver moon cocktail ring in Amethyst</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">31 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    </br>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                                    filename='collection-pieces/mania-mania12.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Wicca Ring</a>
                                </h4>
                                <p>Wicca ring in sterling silver and smokey
                                quartz.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">6 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                              filename='collection-pieces/mania-mania5.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Immortals Ring</a>
                                </h4>
                                <p>Sterling silver Immortals ring with
                                aquamarine stone. From the collection "Dusk"</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                              filename='collection-pieces/mania-mania6.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Quartz Pagan Ring</a>
                                </h4>
                                <p>Quartz pagan ring in sterling silver, to make more than
                                a statement.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                              filename='collection-pieces/mania-mania7.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Immortals Ring</a>
                                </h4>
                                <p>Quartz Immortals ring.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                  
                  <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                              filename='collection-pieces/mania-mania8.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">She Devil Ring</a>
                                </h4>
                                <p>She Devil cocktail ring in brass.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
              
                  <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                              filename='collection-pieces/mania-mania2.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Serpent Ring</a>
                                </h4>
                                <p>Knuckle Serpent Ring in sterling silver.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


    <!-- /.container -->
{% endblock %}}
