
{% extends "layout.html" %}
{% block content %}
    <!-- Page Content -->
  
<h3>Omnia oddities</h3>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                            filename='collection-pieces/omniaoddities1.jpg')}}"
                            alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Fortuna Ring</a>
                                </h4>
                                <p>Fortuna silver sterling ring with deep blue
                                goldstone</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                            filename='collection-pieces/omniaoddities2.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">The Celestial Oracle</a>
                                </h4>
                                <p>Galaxy Celestial Ring in sterling silver.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">12 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                           filename='collection-pieces/omniaoddities4.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">The Scryer's Ring</a>
                                </h4>
                                <p>Sterling silver and quartz sphere with white
                                topaz accents.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">31 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    </br>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                                    filename='collection-pieces/omniaoddities3.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Gemini Zodiac Ring</a>
                                </h4>
                                <p>Gemini Zodiac ring in sterling silver and
                                vintage emerald glass.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">6 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                              filename='collection-pieces/omniaoddities5.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Moira Ring</a>
                                </h4>
                                <p>Moira ring in sterling silver with black
                                sand hourglass.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                              filename='collection-pieces/omniaoddities6.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Moira Ring</a>
                                </h4>
                                <p>Moira Ring in gold plated brass and black
                                sand hourglass.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                              filename='collection-pieces/omniaoddities7.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Celestial Oracle Ring</a>
                                </h4>
                                <p>Another Celestial Oracle Ring with handmade
                                full moon glass sphere.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                  
                  <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                              filename='collection-pieces/omniaoddities8.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Nocturne Bat ring</a>
                                </h4>
                                <p>Oxidized brass Nocturne bat ring with a
                                hauntingly beautiful Ethiopian welo opal. Black
                                diamond accents in the bat's mouth.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
              
                  <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                              filename='collection-pieces/omniaoddities9.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Oracle Ring</a>
                                </h4>
                                <p>Quartz Oracle ring in sterling silver</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


    <!-- /.container -->
{% endblock %}}
