
{% extends "layout.html" %}
{% block content %}
    <!-- Page Content -->
  <h3>Pamela Love</h3>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                            filename='collection-pieces/pamela-love11.jpg')}}"
                            alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Luna Ring</a>
                                </h4>
                                <p>Constellation Luna ring in silver sterling.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                            filename='collection-pieces/pamela-love-2.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Arrowhead ring</a>
                                </h4>
                               <p>Burgundy flecked jasper arrowhead ring set in
                               sterling silver.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">12 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                           filename='collection-pieces/pamela-love-3.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Quartz Arrowhead Ring</a>
                                </h4>
                                <p>Quartz arrowhead set in sterling silver.
                                Each stone is one of kind and therefore varies
                                in shape and size.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">31 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>
 
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div style="background-color:#d5d0b1;" class="thumbnail">
                            <img src="{{url_for('static',
                                    filename='collection-pieces/pamela-love-7.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Solar Moonstone Ring</a>
                                </h4>
                                <p>Solar Moonstone Handpiece in antique silver.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">6 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div style="background-color:#d5d0b1;" class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="{{url_for('static',
                              filename='collection-pieces/pamela-love-5.jpg')}}" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Articulated Maia Ring</a>
                                </h4>
                                <p>Articulated Maia Ring in sterling silver.</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">18 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </p>
                            </div>
                        </div>
                    </div>

                   <div class="col-sm-4 col-lg-4 cold-md-4">
                    <div style="background-color:#d5d0b1;" class="thumbnail">
                      <img src="{{url_for('static',
                      filename='collection-pieces/pamela-love-6.jpg')}}" alt="">
                      <div class="caption">
                        <h4 class="pull-right"></h4>
                        <h4> <a href="#">Double Cage Ring</a>
                        </h4>
                        <p>A double cage ring with turquoise in sterling silver</p>
                      </div>
                      <div class="ratings">
                        <p class="pull-right">30 reviews</p>
                        <p>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                        </p>
                     </div>
                  </div>
                </div>  
        
                <div class="col-sm-4 col-lg-4 cold-md-4">
                    <div style="background-color:#d5d0b1;" class="thumbnail">
                      <img src="{{url_for('static',
                      filename='collection-pieces/pamela-love-4.jpg')}}" alt="">
                      <div class="caption">
                        <h4 class="pull-right"></h4>
                        <h4> <a href="#">Turquoise Eternity Ring</a>
                        </h4>
                        <p>A statement piece in gold with turquoise inlay</p>
                      </div>
                      <div class="ratings">
                        <p class="pull-right">30 reviews</p>
                        <p>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                        </p>
                     </div>
                  </div>
                </div>  

              <div class="col-sm-4 col-lg-4 cold-md-4">
                    <div style="background-color:#d5d0b1;" class="thumbnail">
                      <img src="{{url_for('static',
                      filename='collection-pieces/pamela-love-9.jpg')}}" alt="">
                      <div class="caption">
                        <h4 class="pull-right"></h4>
                        <h4> <a href="#">Obsidian Arrowhead Ring</a>
                        </h4>
                        <p>A hallmark of the Classic collection, arrowheads are
                        bezel set in sterling silver. Large in both size and
                        impact.</p>
                      </div>
                      <div class="ratings">
                        <p class="pull-right">30 reviews</p>
                        <p>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                        </p>
                     </div>
                  </div>
                </div>  
i
              <div class="col-sm-4 col-lg-4 cold-md-4">
                    <div style="background-color:#d5d0b1;" class="thumbnail">
                      <img src="{{url_for('static',
                      filename='collection-pieces/pamela-love-8.jpg')}}" alt="">
                      <div class="caption">
                        <h4 class="pull-right"></h4>
                        <h4> <a href="#">Cosmos Ring</a>
                        </h4>
                        <p>Cosmos midi ring in sterling silver</p>
                      </div>
                      <div class="ratings">
                        <p class="pull-right">30 reviews</p>
                        <p>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                        </p>
                     </div>
                  </div>
                </div>  


                </div>

            </div>


    <!-- /.container -->
{% endblock %}}
